
body {
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

.navbar {
    background-color: black;
    font-size: 1.25em;
}

ul.carousel {
    margin: 0 auto;
    text-align: center;
    list-style-type: none;
}

h1, h2, .navbar, footer {
    font-family: 'Arima Madurai', cursive;
}

img {
    margin: 5px 0px;
    text-align: center;
}

.prices-box {
    background-color: grey;
}

footer .nav {
    margin: 10px;
    font-size: 1.1em;
}

.signature {
    position: relative;
    float: right;
    margin-right: 5px;
}