
<!-- div class="container" 'ending' tag -->
</div>
    <hr>
    <footer>
        <ul class="nav nav-tabs">
            <li>
                <a href=""
                    ng-click="root.orderLink()"
                >Order
                </a>
            </li>
            <li>
                <a href="#">About Us
                </a>
            </li>
            <li>
                <a href="#">What is Kava?
                </a>
            </li>
            <li>
                <a href="#">Products
                </a>
            </li>
        </ul>
    </footer>
</body>
</html>