    </div> <!-- end CONTAINER -->
    <hr>
    <footer class="navbar navbar-inverse navbar-fixed-bottom">
        <ul class="nav nav-tabs">
            <li>
                <a href=""
                    ng-click="root.orderLink()"
                >Order
                </a>
            </li>
            <li>
                <a href=""
                    ng-click="root.showAboutUs()"
                >About Us
                </a>
            </li>
            <li>
                <a href=""
                    ng-click="root.showWhatIsKava()"
                >What is Kava?
                </a>
            </li>
            <li>
                <a href=""
                    ng-click="root.showProducts()"
                >Products
                </a>
            </li>
        </ul>
        <span class="signature">Darkeyes Design &copy; 2016-2017</div>
    </footer>
</body>
</html>