<!DOCTYPE html>
<html lang="en" ng-app="root">

<head>
    <meta http-equiv="content-type" content="text/html" charset="UTF-8" />
    <meta name="keywords" content="Kava, tea, Beijing, China, relaxation, activity, adventure, health, refreshments" />
    <meta name="description" content="Kava Kings official wholesale kava website" />
    <meta name="author" content="dark eyes design" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <!-- <link rel="icon" type="image/gif" href="animated_favicon1.gif"> -->

    <title>Kava Kings Ltd. Official Site</title>

    <!-- Latest compiled and minified CSS -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->

<!-- bootswatch -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/readable/bootstrap.min.css"> 


<!-- THIRD PARTY -->
<!-- angular-carousel @ http://ngmodules.org/modules/angular-carousel -->
<!-- <script src="angular-carousel/dist/angular-carousel.css"></script>
<script src="angular-carousel/dist/angular-carousel.js"></script> -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />

<!-- jquery stuffs -->
    <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<!-- ANGULAR -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
    <script src="{{site.app}}"></script>

</head>
<body ng-controller="RootCtrl as root"
> 
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" 
                        class="navbar-toggle collapsed" 
                        data-toggle="collapse" 
                        data-target="#nav-right" 
                        aria-expanded="false"
                >
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" 
                    href="#" 
                    alt="KavaKings Logo"
                >
                    <a href=""><!-- keeps BADGE in line with collapsable links -->
                        <img src="{{site.logo}}"
                            width="200px"
                        >
                    </a>
                </a>
            </div>

            <div class="collapse navbar-collapse" 
                id="nav-right"
            >
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#"
                            ng-click="root.showOrderLink()"
                        >Order
                        </a>
                    </li>
                    <li>
                        <a href="#"
                            ng-click="root.showAboutUs()"
                        >About Us
                        </a>
                    </li>
                    <li>
                        <a href="#"
                            ng-click="root.showWhatIsKava()"
                        >What is Kava?
                        </a>
                    </li>
                    <li>
                        <a href="#"
                            ng-click="root.showProducts()"
                        >Products
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="jumbotron">
            <ul>
                <li ng-repeat="image in root.full_carousel track by $index">
                    <div class="layer">
                        {{ image }}
                    </div>
                </li>
            </ul>
        </div>
    </nav> <!-- END navbar -->